app-todo
  form(onSubmit="{ add }")
    input(name="input" onkeyup="{ edit }")
    button(disabled="{ !text }") Add

  ul
    li.itemList(each="{ items }")
      label(class="{ completed: done }")
        input(type="checkbox" checked="{ done }" onClick="{ parent.toggle }")
        | { title }

  style.
    .itemList {
      list-style: none;
    }

  script.
    var tag = this;
    tag.text = '';
    tag.disabled = true;
    tag.items = opts.items || [];
    tag.add = add;
    tag.edit = edit;
    tag.toggle = toggle;

    function add () {
      if (tag.text) {
        tag.items.push({ title: tag.text });
        tag.text = tag.input.value = '';
      }
    }

    function edit (e) {
      tag.text = e.target.value;
    }

    function toggle (e) {
      var item = e.item;
      item.done = !item.done;
      return true;
    }
